.View4{
    text-align: center;
    height: 100vh;
    border-bottom: 1px solid white;
}

.View4-logo{
    /* animation: App-logo-spin infinite 1s linear; */
    height: 80px;
}

.View4-header{
    background-color: #222;
    height: 200px;
    padding: 20px;
    color: white;
}

.View4-title{
    font-size: 5.5em;
    background-color: #222;
    color: white;
}
