
.view3 {
    background-color: #252934;
    text-align: center;
    height: 100vh;
    border-bottom: 1px solid black;
    z-index:0;
    /* border-top: 1px solid #9B9987; */
}
.view3-header {

    height: 10vh;
    color: #9B9987;
}
.view3-body {
    height: 80vh;
    font-family: 'Kadwa', serif;
    font-size: 3.5em;
    color:#E7E6F7

}

.view3-title{
    height:15vh;
}

.projects{
    height:50vh;
}

.project{
    border-radius:10%;
}

.project-image{
    border-radius:10%;
}
.project:hover{
    transform:scale(1.2);
}

.view2-media-icon {
    padding-left: 20px;
}

.view3-media-icon:hover {
    fill: #E7E6F7;
    transform: scale(1.1);
    transition: 250ms;
    transition-timing-function: ease-in-out;
}


.view3-down-arrow {
    height: 5vh;
    /* animation:arrow-fly 3s; */
    /* animation-fill-mode: forwards; */
    animation: bounce .75s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}
.view3-down-arrow:hover {
    animation: bounce .25s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 100px, 0);
    }
    to {
        transform: translate3d(0, 175px, 0);
    }
}
    /* @keyframes something-fly {
    0% {
        animation:none;
        transform: translate(0px, 0px) rotate(0deg);


    }
    100% {
        transform: translate(-175px, 100px) rotate(50deg);
    }

} */
