body {
	color: white;
	background: #1c1c1f;
}

.main {
	font: 16px / 1 Arial;
	position: relative;
}


.smooth-scroll {
	padding: 50px;
}

.spacer {
		border: 1px dashed #fff;
		height: 2000px;
}

button {
		color: #000;
		font: bold 18px/1 Arial;
		margin: 10px 0;
		padding: 10px;
		width: 100%;
}
